<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Book Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <p-dropdown [options]="options" [(ngModel)]="option" optionLabel="option" [showClear]="true" placeholder="Manage Book"></p-dropdown>
    </div>
  </div>
</div>
<div class="flex flex-row flex-wrap justify-content-center h-10rem">
  <div class="">
    Description
  </div>
</div>
<div class="flex flex-row flex-wrap justify-content-center h-10rem">
  <div class="">
    Ingredients
  </div>
</div>
