<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="flex flex-row flex-wrap justify-content-center">
        <div class="m-1">
          <input type="text"  placeholder="Name" pInputText [(ngModel)]="wishItems" />
        </div>
        <div class="m-1">
          <input type="text"  placeholder="Amount" pInputText [(ngModel)]="wishItems" />
        </div>
      </div>
      <div class="flex flex-row flex-wrap justify-content-center">
        <div class="m-1">
          <p-button class="m-1">Add</p-button>
          <p-button class="m-1">Delete</p-button>
          <p-button class="m-1">Clear</p-button>
        </div>
      </div>
    </form>
  </div>
</div>
